.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  outline: 0;
  overflow: hidden;
  display: none;
  background: rgba(0,0,0,.5);
  z-index: 5000;

  &.open {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &.light-background {
    background: rgba(255, 255, 255, .4);
  }
}
